CNN/PKL/
CNN/PRED/
CNN/SNP/
CNN/DB
CNN/__pycache__/
PreProc/dhs/DB/
PreProc/dhs/download/
PreProc/histone/DB/
PreProc/histone/download/
PreProc/fimo/DB/
PreProc/fimo/SNP/
PreProc/fimo/download/
PreProc/snp_ld_ext/__pycache__/
PreProc/snp_ld_ext/download/
example/DB/dhs/
example/DB/fimo/
example/DB/histone/
example/DB/pathway/
