CNN/PKL/
CNN/PRED/
CNN/SNP/
CNN/__pycache__/
PreProc/dhs/DB/
PreProc/dhs/download/
PreProc/histone/DB/
PreProc/histone/download/
PreProc/fimo/DB/
PreProc/fimo/SNP/
PreProc/fimo/download/HOCOMOCOv11_full_HUMAN_mono_meme_format.meme
PreProc/fimo/download/chr1.fa
PreProc/fimo/download/chr1.fa.fai
PreProc/fimo/download/chr10.fa
PreProc/fimo/download/chr10.fa.fai
PreProc/fimo/download/chr11.fa
PreProc/fimo/download/chr11.fa.fai
PreProc/fimo/download/chr12.fa
PreProc/fimo/download/chr12.fa.fai
PreProc/fimo/download/chr13.fa
PreProc/fimo/download/chr13.fa.fai
PreProc/fimo/download/chr14.fa
PreProc/fimo/download/chr14.fa.fai
PreProc/fimo/download/chr15.fa
PreProc/fimo/download/chr15.fa.fai
PreProc/fimo/download/chr16.fa
PreProc/fimo/download/chr16.fa.fai
PreProc/fimo/download/chr17.fa
PreProc/fimo/download/chr17.fa.fai
PreProc/fimo/download/chr18.fa
PreProc/fimo/download/chr18.fa.fai
PreProc/fimo/download/chr19.fa
PreProc/fimo/download/chr19.fa.fai
PreProc/fimo/download/chr2.fa
PreProc/fimo/download/chr2.fa.fai
PreProc/fimo/download/chr20.fa
PreProc/fimo/download/chr20.fa.fai
PreProc/fimo/download/chr21.fa
PreProc/fimo/download/chr21.fa.fai
PreProc/fimo/download/chr22.fa
PreProc/fimo/download/chr22.fa.fai
PreProc/fimo/download/chr3.fa
PreProc/fimo/download/chr3.fa.fai
PreProc/fimo/download/chr4.fa
PreProc/fimo/download/chr4.fa.fai
PreProc/fimo/download/chr5.fa
PreProc/fimo/download/chr5.fa.fai
PreProc/fimo/download/chr6.fa
PreProc/fimo/download/chr6.fa.fai
PreProc/fimo/download/chr7.fa
PreProc/fimo/download/chr7.fa.fai
PreProc/fimo/download/chr8.fa
PreProc/fimo/download/chr8.fa.fai
PreProc/fimo/download/chr9.fa
PreProc/fimo/download/chr9.fa.fai
example/DB/dhs/
example/DB/fimo/
example/DB/histone/
example/DB/pathway/
